body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
*{
    font-size: 10px;
}

.bars-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    border: 5px solid black;
    border-radius: 5px;
    padding: 5px;
}

.bar {
    
    border: 1px solid black;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;

    justify-content: space-between;
    margin: 5px 0px;
    padding: 10px;
    color: white;
    height: 30px;
}



.task-name{
    background-color: rgb(56, 56, 56);
    position: absolute;
    top: 0;
    right: 50%;
}
.start-time, .end-time {
    background-color: rgb(56, 56, 56);
}
